/*
    See explanation in the code PostsItem.jsx
*/
code {
  padding: .1em;
  border-radius: .3em;
  color: black;
  background: #f5f2f0;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.post-item {
  margin-bottom: 30px;
}

.post-item-content {
  display: flex;
}
  .post-item-content__thumbnail {
    flex-basis: 120px;
    flex-shrink: 0;
  }
  .post-item-content__excerpt {
    flex-grow: 1;
    padding-left: 10px;
  }
