.contact-form-loader {
    position: absolute;
}
    .contact-form-loader_loaded {
        display: none;
    }

.contact-form {
    visibility: hidden;
}
    .contact-form_loaded {
        visibility: visible;
    }