/* src/components/Pagination/pagination.css */
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  justify-content: center !important;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #1976d2;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.page-item {
  &.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #1976d2;
    border-color: #1976d2;
  }
  &:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  &.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
  }
}

/* src/components/SecondaryText/SecondaryText.css */
.secondary-text {
  font-size: 85%;
  margin-bottom: 10px;
  opacity: 0.65;
  transition: 300ms;
}
.secondary-text:hover {
  opacity: 1;
}

/* src/templates/blogPaginationPage.css */
.pagination-item {
  border: 1px solid green;
  display: inline-block;
  padding: 10px;
}
.post-item-content {
  display: flex;
}
.post-item-content__thumbnail {
  flex-basis: 120px;
  flex-shrink: 0;
  img {
    border-radius: 5px;
  }
}
.post-item-content__excerpt {
  flex-grow: 1;
  padding-left: 10px;
  p {
    margin: 0;
  }
}
