.main-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main-menu::after {
  content: '';
  display: table;
  clear: both;
}

.main-menu_item {
  float: left;
  padding: 0 10px;
}
.main-menu_item__active {
  border-bottom: 2px solid #96c9ff;
}

.main-menu_link:hover {
  text-decoration: none;
}
